<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,797},{155,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,181}}</string>
                <key>sourceSize</key>
                <string>{155,181}</string>
            </dict>
            <key>Hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,602},{158,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,180}}</string>
                <key>sourceSize</key>
                <string>{158,182}</string>
            </dict>
            <key>Hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,613},{153,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,182}}</string>
                <key>sourceSize</key>
                <string>{153,182}</string>
            </dict>
            <key>HeroAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{156,183}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{156,183}}</string>
                <key>sourceSize</key>
                <string>{194,189}</string>
            </dict>
            <key>HeroAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{112,185}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{112,185}}</string>
                <key>sourceSize</key>
                <string>{194,189}</string>
            </dict>
            <key>HeroAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,228},{120,189}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,189}}</string>
                <key>sourceSize</key>
                <string>{194,189}</string>
            </dict>
            <key>HeroAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{174,169}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{174,169}}</string>
                <key>sourceSize</key>
                <string>{194,189}</string>
            </dict>
            <key>HeroAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,715},{134,145}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{134,145}}</string>
                <key>sourceSize</key>
                <string>{194,189}</string>
            </dict>
            <key>HeroAttackJ1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{156,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,182}}</string>
                <key>sourceSize</key>
                <string>{156,182}</string>
            </dict>
            <key>HeroAttackJ2.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,531},{121,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,141}}</string>
                <key>sourceSize</key>
                <string>{121,141}</string>
            </dict>
            <key>HeroAttackJ3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,862},{142,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,122}}</string>
                <key>sourceSize</key>
                <string>{142,122}</string>
            </dict>
            <key>HeroAttackJ4.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,166},{154,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,121}}</string>
                <key>sourceSize</key>
                <string>{154,121}</string>
            </dict>
            <key>HeroAttackJ5.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,350},{109,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,131}}</string>
                <key>sourceSize</key>
                <string>{109,131}</string>
            </dict>
            <key>HeroAttackJ6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{160,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,192}}</string>
                <key>sourceSize</key>
                <string>{160,192}</string>
            </dict>
            <key>HeroAttackJ7.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{163,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,162}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>HeroAttackJ8.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,862},{131,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,143}}</string>
                <key>sourceSize</key>
                <string>{131,143}</string>
            </dict>
            <key>HeroAttackT1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,419},{181,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,176}}</string>
                <key>sourceSize</key>
                <string>{181,176}</string>
            </dict>
            <key>HeroAttackT2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{189,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,186}}</string>
                <key>sourceSize</key>
                <string>{189,186}</string>
            </dict>
            <key>HeroAttackT3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,224}}</string>
                <key>sourceSize</key>
                <string>{168,224}</string>
            </dict>
            <key>HeroRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,181},{127,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,177}}</string>
                <key>sourceSize</key>
                <string>{127,177}</string>
            </dict>
            <key>HeroRun10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,360},{110,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,177}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>HeroRun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{157,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,167}}</string>
                <key>sourceSize</key>
                <string>{157,167}</string>
            </dict>
            <key>HeroRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,178},{150,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,170}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>HeroRun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,539},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>HeroRun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,360},{110,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,177}}</string>
                <key>sourceSize</key>
                <string>{112,177}</string>
            </dict>
            <key>HeroRun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{157,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,167}}</string>
                <key>sourceSize</key>
                <string>{157,167}</string>
            </dict>
            <key>HeroRun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,784},{179,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,174}}</string>
                <key>sourceSize</key>
                <string>{179,174}</string>
            </dict>
            <key>HeroRun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,181},{108,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,176}}</string>
                <key>sourceSize</key>
                <string>{108,176}</string>
            </dict>
            <key>HeroRun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,359},{157,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,170}}</string>
                <key>sourceSize</key>
                <string>{157,170}</string>
            </dict>
            <key>HeroRun9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{141,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,177}}</string>
                <key>sourceSize</key>
                <string>{141,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f11e6dfb4398370c7ea2f89b0317ee30$</string>
            <key>textureFileName</key>
            <string>fighter.png</string>
        </dict>
    </dict>
</plist>
